/* Structure */
body {
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
    margin: 0px;
    background: #e8e8e8; 
    height: 100%;
}

#top-bar {
    width: 100%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    clear: both;
    background: #ff5a00;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

#top-bar h1{ font-size: 18px;}

#app-name {
    margin-top: 0px;
    text-align: center;
}

#app-name a {
    color: #AAA;
    text-decoration: none;
}
#top-bar-start{
	overflow: hidden;
	float: left;
	width: 180px;
	background-color: #333;
	height: 60px;
	
}
#top-bar-middle {
    overflow:hidden;
    padding-left: 10px;
}

#top-bar .widget {
    float: left;
    width: 30%;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
}

#top-bar .communicating-widget h3,
#top-bar .communicating-widget label {
    display: none;
}

#top-bar .communicating-widget .widget-body {
    padding: 5px 0px;
}

#top-bar .widget-form-container input{ color: #FFF;}
#top-bar .communicating-widget input::-webkit-input-placeholder {
   color: #faa87b;
}

#top-bar .communicating-widget input:-moz-placeholder { /* Firefox 18- */
   color: #faa87b;  
}

#top-bar .communicating-widget input::-moz-placeholder {  /* Firefox 19+ */
   color: #faa87b;  
}

#top-bar .communicating-widget input:-ms-input-placeholder {  
   color: #faa87b;  
}
#top-bar .communicating-widget input:focus {
	color: #FFF;
}


#page-content {
    overflow: hidden;
}

#sidebar {
    float: left;
	width: 180px;
	border-right: 1px solid #A5A2A1;
	box-shadow: 3px 0px 6px rgba(0,0,0,0.4);
	height: 100%;
	background: #525252;
}

#sidebar .widget {
    padding: 0px;
    background: #f8f8f8;
}

#sidebar .widget h3 {
    padding-bottom: 10px;
    margin-bottom: 0px;
    display: none;
}

#content {
    margin-left: 180px;
    overflow-y: auto;
}

.widget {
	border: 1px solid #EEE;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    margin: 10px;
    background: #fafafa;
}

.widget h3 {
    border-bottom: 1px solid #999;
    margin:0;
    line-height: 28px;
	height: 24px;
    cursor: pointer;
	background-color: #525252;
	color: #CCC;
	padding-left: 10px;
	font-size: 13px;
}

.widget-body{
	padding: 5px;
}


#sidebar .widget {
    border: 0px;
    border-radius: 0px;
    box-shadow: 0 0 0 0;
    margin: 0px;
    
}

/* ui style */
input[type="submit"],
button,
.button,
.button:visited,
.button:active,
.operations a
{
    background-color: #ff5a00;
    padding: 5px;
    display: inline-block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    text-decoration: none;
    width: auto;
    min-width: 130px;
}

.button:active,
.button.active,
.operations a.active,
.operations a:active
{
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.6);
}

button {
    height: 36px;
}

input[type="submit"]:hover,
button:hover,
.button:hover,
.operations a:hover
{
    background-color: #963B20;
}

input, select, textarea {
    border: 1px solid #999;
    border-radius: 0px;
}

/* Form */

input[type="submit"],
button
{
    margin-top: 20px;
}

input, select, textarea {
    width: 100%;
}

input[type="checkbox"],
input[type="radio"]
{
    width: auto;
}

textarea {
    min-height:200px;
}

.html-edit {
    min-height: 200px;
}

label {
    display: block;
}

progress {
    height: 25px;
    width: 100%;
}

/* -- search widget -- */

#top-bar .search-widget .widget-actions {
    margin: 0px;
}

#top-bar .search-widget form {
    overflow: hidden;
}

#top-bar .search-widget .widget-body {
    padding: 0px;
}

#top-bar .search-widget .field input {
    font-size: 13px;
}

#top-bar .search-widget input {
    outline: 0px;
    text-indent: 10px;
    height: 24px;
    background: #963500 url('img/search-orange.png') no-repeat 5px center;
    background-size: 20px 20px;
    border: none;
    margin: 18px 0;
    width: 90%;
    display: block;
    border-radius: 15px;
    padding-left: 25px;
}



.top-nav{ 
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top-nav li { 
	float: left;
	width: 70px;
	border-left: 1px solid #E03B0B;
	text-align: center;
}
.top-nav li a{ 
	display: block;
	text-decoration: none;
	color: #AF2700;
}
.top-nav li a:hover{
	background-color: #963B20;
	color: #eee;
}
.top-nav .action{}

#footer {
	height: 50px;
	line-height: 49px; 
	padding: 0 10px;
	background-color: #3F3F3F;
	color: #757575;
}

.version-box{
	float: left;
	width: 180px; /* Sidebar width */
}

.credits-box{
	float: right;
}

.credits-box a{
	text-decoration: none;
	color:#ff5a00;
	font-weight: 700;
	font-size: 16px;
}

.image-upload-field{
	width: 270px;
}

.image-upload-field:not(:last-child){ margin-right: 6px;}

.image-upload-field label{}

.image-upload-field .file-container{
	margin:0;
	padding: 2px;
	list-style-type: none;
	border: 1px solid #EEE;
	cursor: pointer;
	display: inline-block;
	width: 97%;
}

.image-upload-field  .placeholder{
	/*width: 275px;*/
	height: 180px;
	line-height: 180px;
	text-align: center;
	font-size: 16px;
	color: #999;
	background: #EEE;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	display: block;
}

.placeholder span{
	padding: 10px;
	background-color: rgba(0,0,0,0.3);
	color: #FFF;
	border-radius: 3px;
	font-size: 12px;
}

.file-container li{
	/*float: left;*/
}

.file-container .link{
width: 200px;
max-height: 180px;
padding: 0 10px;
}
.file-container .new-file{

}

.file-container .delete{
	color: #CCC;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

.file-container .delete:hover{
	color: #999;
	text-decoration: underline;
}

.image-upload-field  .ajaxupload,
.new-file progress{
	visibility: hidden;
	height: 0;
}

.image-upload-field + .html-edit-field{clear: left;}
a.file-name{
	text-decoration: none;
	color: #963B20;
	display: block;
	float: left;
}

.file-content{
	line-height: 30px;
	padding: 0 5px;
	overflow: hidden;
}

a.file-name:hover{	text-decoration: underline;}

.img-loader{
position: relative;
display: none;
width: 64px;
height: 64px;
top: -155px;
left: 40%;
}

body.login{
	background: #333 url('img/vector.png');
}

body.login .widget-body{
	width: 380px;
	margin: 0 auto;
	position: relative;
	top: 200px;
	border-radius: 5px;
	padding: 10px 30px;
	box-shadow: inset 2px 1px 1px rgba(255,255,255,0.6), 4px 4px 8px #000;
	
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(178,178,178,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(178,178,178,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(178,178,178,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(178,178,178,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(178,178,178,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(178,178,178,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */


}

body.login .field{
	margin-top: 10px;
}

body.login .widget-body input[type="text"],
body.login .widget-body input[type="password"]{
	height: 35px;
	border-radius: 5px;
	padding: 5px;
	font-size: 16px;
	color: #555;
	border: 1px solid #ECECEC;
	background: #FEFEFE;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
}

body.login .widget-body input[type="submit"],
body.login .widget-body button
{
height: 35px;
margin-top: 0;
border: none;
border-radius: 3px;
box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), 1px 1px 2px rgba(0,0,0,0.2);
text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
text-shadow: 1px 1px 1px rgba(255,255,255,0.3);

color: #555;

background: rgb(253,253,253); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(253,253,253,1) 0%, rgba(230,230,230,1) 50%, rgba(214,214,214,1) 51%, rgba(200,199,199,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(50%,rgba(230,230,230,1)), color-stop(51%,rgba(214,214,214,1)), color-stop(100%,rgba(200,199,199,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(230,230,230,1) 50%,rgba(214,214,214,1) 51%,rgba(200,199,199,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(230,230,230,1) 50%,rgba(214,214,214,1) 51%,rgba(200,199,199,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(230,230,230,1) 50%,rgba(214,214,214,1) 51%,rgba(200,199,199,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(253,253,253,1) 0%,rgba(230,230,230,1) 50%,rgba(214,214,214,1) 51%,rgba(200,199,199,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#c8c7c7',GradientType=0 ); /* IE6-9 */
}

.notice{
	background: #D0EBD0;
	line-height: 32px;
	padding: 5px;
	margin: 10px;
	font-weight: 700;
	color: #008500;
}


#top {
    margin-bottom: 20px;
}

#top .widget {
    margin: 0px;
    border: 0px;
}

.page-head {
    background: none;
    box-shadow: none;
    border-top: 0px;
    overflow: hidden;
    padding: 10px;
    background: rgba(82, 82, 82, 0.79);
    color: white;
}

.page-head h1 {
    margin-top: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

.operations a {
    margin-right: 10px;
}

.widget-actions {
    margin-bottom: 10px;
}